/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}



.body {
	font-family: 'Poppins';
	font-weight: 500;
	background-color: black;
}
/* SIDEBAR */
aside {
width: 150px;
height: 100%;
background-color: #282d32;
position: absolute;
top: 0;
left: 0;
padding: 10px;
position: fixed;
}
.logo {
	font-size: 32px;
	color: #4cb480;
	text-transform: uppercase;
	text-align: center;
	padding-top: 39px;
	font-family: 'Sawarabi';
	font-weight: 400;
}
.logo > p::after {
    content: " ";
	height: 4px;
    width: 25px;
    border-radius: 2px;
    background-color: #4cb480;
    display: block;
    margin: auto;
    margin-top: 12px;
}

.menu-aside {
	margin-top: 53px;
    margin-left: 18px;
    margin-right: 18px;
    border: 2px solid #d9dee7;
    border-left: none;
    border-right: none;
    opacity: 0.1;
    height: 318px;
}
.menu-aside li{
	padding-top: 38px;
	text-align: center;
	text-transform: uppercase;
}
.menu-aside li > a {
	color: #ffffff;
	font-size: 16px;
	opacity: 1;
	font-family: 'Poppins';
	font-weight: 400;
	letter-spacing: 0.8px;
	
}
.icon-search {
    width: 28px;
    height: 28px;
    fill: #ffffff;
    opacity: 0.5;
	margin: auto;
    padding-top: 49px;
}
/* HEADER */
header {
	margin-left: 150px;
	background-color: #353a3f;
}
h1 {
	padding-top: 233px;
    padding-left: 328px;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 62px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 47.2px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 4.1px;
}
h1::before {
	content: " ";
	width: 60px;
	height: 4px;
	border-radius: 2px;
	background-color: #4cb480;
	position: absolute;
	top: 200px;
	
}
.subtitile {
	padding-left: 326px;
    padding-top: 54px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 30px;
	line-height: 31.2px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.text {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    letter-spacing: 0.33px;
    padding-left: 326px;
    padding-right: 39px;
    padding-top: 18px;
}
.headerbuttom {
	background-color: #4cb480;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    margin-left: 327px;
    margin-bottom: 199px;
    margin-top: 49px;
}
/* SERVICES */
.services {
	background-color: white;
	margin-left: 150px;
}
.services_baner {
	display: flex;
    margin-left: 86px;
}
.banner {
	border-radius: 6px;
	background-color: #f6f6f6;
	margin: 120px 30px;
	margin-top: 120px;
	position: relative;
}
.icon {
	height: 50px;
    width: 60px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.title {
	color: #353a3f;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    padding-top: 102px;
    padding-left: 6px;
}
.textservis {
    color: #5a5f65;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-style: normal;
    letter-spacing: 2.5px;
    line-height: 24px;
    padding: 28px 60px;
}
.buttomservis{
    width: 160px;
    height: 55px;
    border-radius: 28px;
    background-color: #4cb480;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.9px;
    line-height: normal;
    position: relative;
    margin: 2px 102px 60px 102px;
}
/* Textcontect  */
.textcontent {
	height: 600;
	background-color: #353a3f;
	margin-left: 150px;
}
.suffix1 {
    padding-top: 143px;
    padding-left: 324px;
}
.textcontent .suffix2 {
	position: absolute;
    padding-top: 150px;
    padding-left: 160px;
}
.textcontent h4 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
    line-height: 38.02px;
    text-align: left;
    letter-spacing: 0.42px;
    padding-top: 23px;
    padding-left: 325px;
    padding-right: 98px;
}	
.textcontent p {
	color: #8c9198;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    padding-left: 325px;
    padding-top: 72px;
	padding-bottom: 141px;
	position: relative;
}
.textcontent > p::before {
    content: " ";
    color: #8c9198;
    width: 60px;
    height: 5px;
    border-radius: 2px;
    border-radius: 2px;
    background-color: #8c9198;
    display: block;
    position: absolute;
    top: 53px;
}
.textcontent span {
	color: #8c9198;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: normal;
}
/* Blog */
.blog {
	margin-left: 150px;
}
.blog__heading {
    color: #353a3f;
    font-family: 'Poppins';
    font-size: 39px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29.2px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 121px;
    padding-top: 160px;
    padding-bottom: 78px;
    position: relative;
}
.blog__heading ::before {
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #4cb480;
    display: block;
    position: absolute;
    top: 135px;
}
.post-preview {
display: flex;
}
.post-preview__img {
    padding-left: 120px;
    padding-bottom: 61px;
    border-radius: 6px;
}
.blog__content:last-child{
    padding-bottom: 56px;
}
.post-preview__deck {
padding-left: 80px;
}
.post-preview__title {
	color: #353a3f;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 31.2px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-top: 35px;
}
.post-preview__text {
font-size: 18px;
font-family: 'Poppins';
font-weight: 300;
font-style: normal;
line-height: 30px;
text-align: left;
font-style: normal;
letter-spacing: 0.45px;
}

.post-preview__action {
    width: 176px;
    height: 55px;
    border-radius: 28px;
    background-color: #4cb480;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.9px;
    line-height: normal;
    padding-top: 20px;
}
/* FOOTER */
.footer {
    margin-left: 150px;
    background-color: #353a3f;
    display: flex;
    width: 100%;
}
.footer_menu{
    width: 75%;
    padding-left: 83px;
    padding-top: 71px;
}
.footer_menu_block > li {
    display: inline-block;
}
.footer_menu_block li > a{
	padding-top: 80px;
	opacity: 0.5;
	color: #ffffff;
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 400;
	font-style: bold;
	letter-spacing: normal;
	line-height: 31.2px;
	text-align: left;
    text-transform: uppercase;
    width: 75%;
    padding-left: 25px;
    padding-top: 82px;
    padding-left: 48px;
}
.footer_text {
	    opacity: 0.3;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    padding-left: 43px;
    padding-top: 13px;
    padding-bottom: 75px;
}
.footer_icon{
padding-top: 90px;
width: 25%;
padding-left: 173px;	
}
.icon1 {
height: 30px;
padding-right: 33px;
}
.icon2 {
height: 30px;
padding-right: 30px;
}
.icon3{
height: 30px;
}


